<div class="container">
    <h1 class="text-center">Home Page</h1>
    <div class="row">
        <div class="col-md-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptates mollitia, ducimus nisi excepturi suscipit nesciunt? Totam mollitia, eaque nesciunt unde sint, fuga iste ut aliquid esse dolorem nemo maiores!</p>
        </div>
        <div class="col-md-5">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae perspiciatis doloribus tempora consequatur dolorum ipsam nemo nostrum assumenda id aliquam, mollitia aliquid et quam eos consequuntur magni alias! Eius, repellendus.
            </p>
        </div>
    </div>
</div>